# __ðŸŒ¡ Chennai Temperature Prediction__

## __Data Cleaning:__

In [14]:
#Import Dependencies
import pandas as pd

### __Data from 1951 - 2023__

In [16]:
#Loading the data in dataframe
#Minimum tempeature data
min_temp_df=pd.read_csv(r"C:\Users\banup\Desktop\Temperature Prediction\tmin\temperature_min_chennai_13.08_80.27.csv")
#Maximum temperature data
max_temp_df=pd.read_csv(r"C:\Users\banup\Desktop\Temperature Prediction\tmax\temperature_max_chennai_13.08_80.27.csv")
min_temp_df.shape,max_temp_df.shape

((26663, 2), (26663, 2))

In [17]:
min_temp_df.head(2),max_temp_df.head(2)

(     DateTime  13.0843 80.2705
 0  1951-01-01            20.25
 1  1951-01-02            19.97,
      DateTime  13.0843 80.2705
 0  1951-01-01            29.01
 1  1951-01-02            28.50)

In [18]:
#Changing the column names
min_temp_df.columns=["date","min_temperature_(celcius)"]
max_temp_df.columns=["date","max_temperature_(celcius)"]

In [19]:
min_temp_df.head(2),max_temp_df.head(2)

(         date  min_temperature_(celcius)
 0  1951-01-01                      20.25
 1  1951-01-02                      19.97,
          date  max_temperature_(celcius)
 0  1951-01-01                      29.01
 1  1951-01-02                      28.50)

In [24]:
#Merging the two dataframes by date
temp_1951_2023_df = pd.merge(min_temp_df, max_temp_df, on='date', how='inner')
print(temp_1951_2023_df.shape)
temp_1951_2023_df.head(3)

(26663, 3)

         date  min_temperature_(celcius)  max_temperature_(celcius)
0  1951-01-01                      20.25                      29.01
1  1951-01-02                      19.97                      28.50
2  1951-01-03                      18.68                      28.67

### __Data from 1st Jan 2024 - 23rd May 2024:__

In [30]:
temp_2024_df=pd.read_csv(r"C:\Users\banup\Desktop\Temperature Prediction\2024_chennai_temperature.csv")
print(temp_2024_df.shape)
temp_2024_df.head()

(144, 3)

         date  max_temperature_(celcius)  min_temperature_(celcius)
0  2024-01-01                      28.89                      22.22
1  2024-01-02                      28.89                      22.78
2  2024-01-03                      28.89                      22.78
3  2024-01-04                      28.89                      23.89
4  2024-01-05                      28.89                      23.89

### __Combining All The Data Together:__

In [35]:
temp_df = pd.concat([temp_1951_2023_df, temp_2024_df], ignore_index=True)
print(temp_df.shape)
temp_df.head(2)

(26807, 3)

         date  min_temperature_(celcius)  max_temperature_(celcius)
0  1951-01-01                      20.25                      29.01
1  1951-01-02                      19.97                      28.50

In [38]:
#Adding a new column average temperature
temp_df['avg_temperature_(celcius)'] = (temp_df['max_temperature_(celcius)'] + temp_df['min_temperature_(celcius)']) / 2
temp_df.tail(2)

,date,min_temperature_(celcius),max_temperature_(celcius),avg_temperature_(celcius)
26805,2024-05-22,28.33,35.00,31.665
26806,2024-05-23,28.33,36.11,32.220

In [40]:
#Saving the dataframe as ".csv" file
temp_df.to_csv("Chennai_temp_data_1951_2024.csv",index=False)